* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}

.heroSection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-image: url('../assets/1709785100750.jpg');
  background-size: cover;
  background-position: center;
  padding-left: 50px;
}

.heroContent {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 3px;
  border-radius: 10px;
}

.heroContent h1 {
  font-size: 3rem;
  color: #000;
}

.heroContent p {
  font-size: 2rem;
  color: #333;
}

.discoverBtn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.discoverBtn:hover {
  background-color: #444;
}

/* Responsive Design */
@media (max-width: 768px) {
  .heroSection {
    flex-direction: column;
    padding-left: 20px;
    text-align: center;
  }

  .heroContent h1 {
    font-size: 2.5rem;
  }

  .heroContent p {
    font-size: 1.5rem;
  }

  .discoverBtn {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .heroSection {
    padding-left: 10px;
  }

  .heroContent h1 {
    font-size: 2rem;
  }

  .heroContent p {
    font-size: 1.2rem;
  }

  .discoverBtn {
    padding: 8px 15px;
    font-size: 0.8rem;
  }
}