.profile-page {
  font-family: 'Arial', sans-serif;
}

.top-menu {
  background-color: #d1a680;
  padding: 10px 0;
}

.top-menu ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.top-menu ul li {
  display: inline;
}

.top-menu ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.top-menu ul li a:hover {
  background-color: #8a5632;
  border-radius: 5px;
  color: #2a9dcf;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.profile-details {
  flex: 1;
  margin-right: 50px;
}

.profile-description {
  flex: 2;
}

h2, h3 {
  margin: 10px 0;
  font-weight: bold;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  margin-right: 10px;
  color: #000;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.social-icons a:hover {
  color: #2a9dcf;
}

.profile-description p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 20px;
}

.resume-btn {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #d1a680;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.resume-btn:hover {
  background-color: #8a5632;
  color: #2a9dcf;
}

/* Responsive Design */
@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
  }

  .profile-details, .profile-description {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .top-menu ul {
    flex-direction: column;
    align-items: center;
  }

  .top-menu ul li {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .profile-description p {
    font-size: 1rem;
  }

  .top-menu ul li a {
    font-size: 1rem;
  }

  .resume-btn {
    font-size: 0.9rem;
  }
}